# ----------------------------------------
# この workflow（処理のまとまり）の名前
# Actions タブに表示される名前
# ----------------------------------------
name: line-notification


# ----------------------------------------
# 「いつこの workflow を実行するか」
# ----------------------------------------
on:
  # 手動実行を許可する設定
  # Actions画面に「Run workflow」ボタンが出る
  workflow_dispatch: {}

  # スケジュール実行（cron）
  schedule:
    # cron は UTC 基準
    # "0 0 * * *" = 毎日 00:00 UTC
    # 日本時間(JST)では 毎日 09:00
    - cron: "0 0 * * *"

concurrency:
  # 同じグループ名の workflow は同時に1つだけ
  group: line-notification
  # 新しい実行が来たら、前の実行を自動でキャンセル
  cancel-in-progress: true

# ----------------------------------------
# 実行する仕事（job）の定義
# ----------------------------------------
jobs:
  # jobのID（自由な名前）
  run:
    # このjobをどのOSで動かすか
    # GitHubが用意してくれるLinux環境
    runs-on: ubuntu-latest


    # ----------------------------------------
    # jobの中で行う処理の手順（step）
    # 上から順に実行される
    # ----------------------------------------
    steps:

      # ----------------------------
      # ① リポジトリのコードを取得
      # ----------------------------
      - name: Checkout
        # GitHub公式の「コードを取得する」Action
        uses: actions/checkout@v4


      # ----------------------------
      # ② Python を使えるようにする
      # ----------------------------
      - name: Setup Python
        # GitHub公式のPythonセットアップAction
        uses: actions/setup-python@v5
        with:
          # 使用するPythonのバージョン
          python-version: "3.10"


      # ----------------------------
      # ③ ライブラリをインストール
      # ----------------------------
      - name: Install dependencies
        # run は「シェルコマンドを実行する」
        run: |
          # pip 自体を最新版に更新
          python -m pip install --upgrade pip

          # requirements.txt に書かれたライブラリを全部入れる
          pip install -r requirements.txt


      # ----------------------------
      # ④ Pythonスクリプトを実行
      # ----------------------------
      - name: Run script
        # この step だけで使う環境変数
        # GitHub Secrets の値が入る
        env:
          # LINEのアクセストークン
          LINE_CHANNEL_ACCESS_TOKEN: ${{ secrets.LINE_CHANNEL_ACCESS_TOKEN }}

          # 送信先（userId / groupId / roomId）
          LINE_TO: ${{ secrets.LINE_TO }}

        # 実行コマンド
        run: |
          # main.py を実行
          python main.py
